.venv
.vscode
.idea
.DS_Store
.pytest_cache
migrations
alembic.ini
file.log
file:memdb1
test.py
**/__pycache__
**/.pytest_cache
.git
.gitignore
**/*.pyc
**/*.pyo
**/*.pyd
.pytest_cache
**/.pytest_cache
.coverage
htmlcov
test.py
tests/
.env